<div class="container" appSetBackground appHover>
  <p>This is a demo HTML content to understand custom attribute directive in Angular.</p>
</div>

<div  appHighlight appHover>
  <p>This is a demo HTML content to understand custom attribute directive in Angular.</p>
</div>

<div class="container" [appBetterHighlight]="'red'"  [defaultColor]="'yellow'" [title]="'Example title'">
  <p>This is a demo HTML content to understand @HostBinding in Angular.</p>
</div>

<div [appClass]="{container: true, 'change-font': true}">
  <p>This is a demo HTML content to understand Custom appClass directive | Directives in Angular.</p>
</div>