<!-- ******************************************
<div class="nav">
    <div class="nav_main">
      <div class="nav_1">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Courses</a></li>
          <li><a href="#">Staff</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="nav_2">
        <input type="search" name="" id="" placeholder="Search" />
      </div>
    </div>
  </div> -->


  <div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        D.C. HIGH SCHOOL & COLLEGE
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    
    <div class="nav-links">
        <ul>
      <li><a href="#" target="_blank">Home</a></li>
      <li><a href="#" target="_blank">About</a></li>
      <li><a href="#" target="_blank">Services</a></li>
      <li><a href="#" target="_blank">Portfolio</a></li>
      <li><a href="#" target="_blank">Contact</a></li>
      <li><a href="#" target="_blank">Contact</a></li>
      <li><a href="#" target="_blank">Contact</a></li>
      <a class="icon">
        <i class="fa fa-twitter"></i>
        <i class="fa fa-linkedin"></i>
        <i class="fa fa-youtube"></i>

      </a>
        </ul>
    </div>
  </div>